.roomContainer {
    width: 256px;
    height: 200px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 1);
    margin: 20px;
    overflow: hidden;
    /* z-index: 1; */
    position: relative;
}

.roomList {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.thumb {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: inherit;
    opacity: 0.4;
}

.roomOwner {
    font-size: large;
    margin-bottom: 10px;
}

.roomName {
    font-size: x-large;
    font-weight: 700
}

.roomInfoContainer {
    position: absolute;
    color: black;
    bottom: 0;
    margin: 20px;
}