.uploadContainer {
    border-radius: 50px;
    border-width: 2px;
    border-style: dashed;
    /* border-color: grey; */
    margin: 40px;
    /* background-color: red; */
    height: 700px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.roomInput {
    /* background-color: rgba(109, 109, 109, 0.2); */
    border-color: rgba(160, 160, 160, 0.8);
    width: 50%;
    height: 50px;
    font-size:20px;
    border-radius: 20px;
    text-align: center;
}

.roomInput::-webkit-input-placeholder {
    text-align: center;
 }
 
.roomInput:-moz-placeholder { 
    text-align: center;  
 }
 
.roomInput::-moz-placeholder { 
    text-align: center;  
 }
 
.roomInput:-ms-input-placeholder {  
    text-align: center; 
 }

 .nextButton {
     font-size: 30pt;
     background-color: transparent;
     /* border-color: transparent; */
     border-radius: 15px;
     border-width: 2px;
     border-style: dashed;
     border-color: gray;
     color: gray;
     width: 5%;
 }

 .submitButton {
    font-size: 20pt;
    background-color: transparent;
    /* border-color: transparent; */
    border-radius: 15px;
    border-width: 2px;
    border-style: dashed;
    border-color: gray;
    color: gray;
    width: 10%;
 }