.playerContainer {
    /* width: 50%; */
    flex: 2;
}

.roomPageContainer {
    flex: 1;
    margin: 20px;
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex;
    flex: 1;
    flex-direction: row; */
}

.roomPage {
    width: 100%;
    height: 100%;
}

.chatContainer {
    /* width: 20%; */
    flex: 1;
    margin-left: 20px;
    /* height: 200px; */
    background-color: lightgray;
}

.statusBar {
    font-size:large;
    display: flex;
    justify-content: space-around;
}

.mainContainer {
    /* margin: 20px; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    /* flex: 1; */
    flex-direction: row;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}