.header {
    /* background-color: #222; */
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* top: 0; */
    padding: 2px;
    color: white;
  }

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300
}

.left {
    flex:3;
    width: 30%;
    left: 0;
    align-items: flex-start;
}

.right {
    flex:3;
    width: 30%;
    right: 0;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 20;
}

.middle {
    display: flex;
    width: 50%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    /* flex: 6; */
    /* display: block; */
}

.inputBox {
    background-color: #3D2323;
    border-color: rgba(0,0,0,0);
    width: 50%;
    height: 32px;
    font-size:20px;
    border-radius: 16px;
    color: white;
}

.inputBox::placeholder {
    color: #170909;
    font-style: italic;
}
