.loginPage {
    display: flex;
    background-color: #3D2323;
    width: 30%;
    height: 100%;
    border-radius: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginPageContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBoxLogin {
    background-color: #3D2323;
    border-color: #170909;
    width: 100%;
    height: 32px;
    font-size:20px;
    border-radius: 16px;
    color: white;
    margin: 5px 0px 5px 0px;
    padding: 3px;
    border-width: 0.5px;
}

.inputBoxLogin::placeholder {
    color: #170909;
    font-style: italic;
}

.fields {
    margin: 40px 50px 40px 50px;
}

.enterCredentials {
    color: white;
    font-weight: 400;
    font-size: 22px;
}

.loginButton {
    color: white;
    padding: 15px;
    margin-top: 21px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #3D2323;
    border-color: #170909;
    border-width: 0.5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.loginButton:hover {
    margin-top: 20px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.registerNow {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    color: white;
    margin-top: 20px;
}
